*{
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    margin:0;
    height:100vh;
    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    display:flex;
    align-items:center;
    justify-content:center;
    transition:0.5s;
}

body.dark-mode {
    background:linear-gradient(135deg,#000428,#004e92);
}

/* Toggle */
.theme-toggle{
    position:absolute;
    top:20px;
    right:20px;
    background:white;
    width:40px;
    height:40px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}

/* Main Container */
.container{
    width:420px;
    padding:30px;
    text-align:center;
    border-radius:20px;
    background:rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
    color:white;
}

h1{
    margin-bottom:5px;
}

.subtitle{
    font-size:14px;
    margin-bottom:20px;
    color:#ccc;
}

/* DROP AREA */
.drop-area{
    padding:30px;
    border:2px dashed #fff;
    border-radius:15px;
    margin-bottom:15px;
    cursor:pointer;
    transition:0.3s;
}

.drop-area.active{
    background:rgba(255,255,255,0.2);
}

.custom-btn{
    display:inline-block;
    padding:10px 15px;
    background:#fff;
    color:#333;
    border-radius:8px;
    margin-top:10px;
    cursor:pointer;
}

input[type="file"]{
    display:none;
}

/* Preview Images */
#preview{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:10px;
    margin:10px 0;
}

#preview img{
    width:80px;
    height:80px;
    object-fit:cover;
    border-radius:10px;
    border:2px solid white;
}

/* Button */
.predict-btn {
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#00dbde;
    color:#000;
    font-size:16px;
    cursor:pointer;
    margin-top:10px;
}

/* RESULT */
.result-box {
    background:rgba(255,255,255,0.9);
    color:#000;
    padding:15px;
    border-radius:10px;
    margin-top:20px;
}

/* LOADER */
.loader{
    display:none;
    margin:20px auto 0;
    width:40px;
    height:40px;
    border:4px solid white;
    border-top:4px solid transparent;
    border-radius:50%;
    animation:spin 1s linear infinite;
}

@keyframes spin{ to{transform:rotate(360deg);} }

/* Responsive */
@media(max-width:480px){
    .container{ width:90%; }
}
